/*navigation*/
.side-nav i.material-icons{
	height: auto;
	line-height: initial;
	display: inline-block;
	position: relative;
    top: 8px;
    right: 1rem;
}

.side-nav a{
	margin: auto;
    line-height: 65px;
}

.search input[type=search]{
	display: inline-block;
	height: initial;
}

.search input[type=search]:focus{
	color: #888;
}


/*contents*/
.card{
	min-height: 20.4rem;
	max-height: 20.4rem;
}

.card .card-content .card-title{
	margin-bottom: 0;
	line-height: 100%;
}

.card-date{
	margin-top: 0.5rem;
	font-size: 12px;
	margin-bottom: 1rem;
	display: block;
}

.card-author{
	border-top: 1px solid #ccc;
	padding: 1rem;
}

.arrow-up{
  width: 0; 
  height: 0; 
  margin: auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
}

.card-upvote{
	height: 50px;
	width: 50px;
	border-radius: 360px;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.9rem;
	position: absolute;
    bottom: 52px;
    right: 23px;
	color: #fff;
	text-align: center;
}

.card-author .caption{
	display: block;
	font-size: 12px;
}